#custom_css_meta_box .CodeMirror {
  line-height: 1em;
  font-family: monospace;
  width: 100%;
  background: #FFF;
  border:1px solid #CCC;
  height: auto;
}

#custom_css_meta_box .CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
  min-height:100px;
    /* This is needed to prevent an IE[67] bug where the scrolled content
     is visible outside of the scrolling box. */
  position: relative;
}

#custom_css_meta_box .CodeMirror-gutter {
  position: absolute; left: 0; top: 0;
  z-index: 10;
  background-color: #f7f7f7;
  border-right: 1px solid #eee;
  min-width: 2em;
  height: 100%;
}
#custom_css_meta_box .CodeMirror-gutter-text {
  color: #aaa;
  text-align: right;
  padding: .4em .2em .4em .4em;
  white-space: pre !important;
}
#custom_css_meta_box .CodeMirror-lines {
  padding: .4em;
}

#custom_css_meta_box .CodeMirror pre {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-width: 0; margin: 0; padding: 0; background: transparent;
  font-family: inherit;
  font-size: inherit;
  padding: 0; margin: 0;
  white-space: pre;
  word-wrap: normal;
}

#custom_css_meta_box .CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
}
#custom_css_meta_box .CodeMirror-wrap .CodeMirror-scroll {
  overflow-x: hidden;
}

#custom_css_meta_box .CodeMirror textarea {
  font-family: inherit !important;
  font-size: inherit !important;
}

#custom_css_meta_box .CodeMirror-cursor {
  z-index: 10;
  position: absolute;
  visibility: hidden;
  border-left: 1px solid black !important;
}
#custom_css_meta_box .CodeMirror-focused .CodeMirror-cursor {
  visibility: visible;
}

#custom_css_meta_box span.CodeMirror-selected {
  background: #ccc !important;
  color: HighlightText !important;
}
#custom_css_meta_box .CodeMirror-focused span.CodeMirror-selected {
  background: Highlight !important;
}

#custom_css_meta_box .CodeMirror-matchingbracket {color: #0f0 !important;}
#custom_css_meta_box .CodeMirror-nonmatchingbracket {color: #f22 !important;}

/* default code mirror theme */
#custom_css_meta_box .cm-s-default span.cm-keyword {color: #708;}
#custom_css_meta_box .cm-s-default span.cm-atom {color: #219;}
#custom_css_meta_box .cm-s-default span.cm-number {color: #164;}
#custom_css_meta_box .cm-s-default span.cm-def {color: #00f;}
#custom_css_meta_box .cm-s-default span.cm-variable {color: black;}
#custom_css_meta_box .cm-s-default span.cm-variable-2 {color: #05a;}
#custom_css_meta_box .cm-s-default span.cm-variable-3 {color: #085;}
#custom_css_meta_box .cm-s-default span.cm-property {color: black;}
#custom_css_meta_box .cm-s-default span.cm-operator {color: black;}
#custom_css_meta_box .cm-s-default span.cm-comment {color: #a50;}
#custom_css_meta_box .cm-s-default span.cm-string {color: #a11;}
#custom_css_meta_box .cm-s-default span.cm-string-2 {color: #f50;}
#custom_css_meta_box .cm-s-default span.cm-meta {color: #555;}
#custom_css_meta_box .cm-s-default span.cm-error {color: #f00;}
#custom_css_meta_box .cm-s-default span.cm-qualifier {color: #555;}
#custom_css_meta_box .cm-s-default span.cm-builtin {color: #30a;}
#custom_css_meta_box .cm-s-default span.cm-bracket {color: #cc7;}
#custom_css_meta_box .cm-s-default span.cm-tag {color: #170;}
#custom_css_meta_box .cm-s-default span.cm-attribute {color: #00c;}



#post-body #clf_base_custom_fields_custom_js_and_css_box_inner .ui-tabs-panel{
	margin: 0 5px 0 125px;
	overflow: visible;
	height: 100%;
}
#post-body #custom-css-js .ui-state-active{
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    margin-right: -1px;
    background: #FFF;
    color:#FFF;
    border:1px solid #DFDFDF;
    border-right: 0;
    
}
#post-body #custom-css-js .ui-state-active a{
	color:#333;
    text-decoration: none;
    font-weight: bold;
}
#post-body #custom-css-js li{
	font-size: 11px;
}
